*.o
*.lo
*.in
usage_examples/ios_toolchain/iPhoneOS6.0.sdk
usage_examples/ios_toolchain/target
usage_examples/ios_toolchain/tmp
usage_examples/ios_toolchain/cctools
usage_examples/ios_toolchain/xar
usage_examples/ios_toolchain/nbuild.sh
